<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Node with Express!</title>
</head>
<body>
    <h1>You're on the contact page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, exercitationem. Nulla voluptate hic quis ratione dignissimos velit veniam laborum, sequi, obcaecati dolorem dolores temporibus! Iste excepturi voluptates cumque molestias impedit.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, exercitationem. Nulla voluptate hic quis ratione dignissimos velit veniam laborum, sequi, obcaecati dolorem dolores temporibus! Iste excepturi voluptates cumque molestias impedit.</p>
    
</body>
</html>